body {
  background-color: #e9e8f0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

p {
  color: #343658;
  font-size: 18px;
  width: max(40rem, 60%);
}

.header {
  background-color: #ffffff;
  box-shadow: 1px 2px 2px #ddd;
  padding: 1rem 3rem;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  background-color: #e9e8f0;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

}

.form  {
  max-width: 1000px auto;
  background-color:#fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: #7e7a7a 3px 3px 3px;
}

.formContainer{
  width: 450px;
  margin-right: 15px;
  padding: 1rem;
}

.companyContainer {
  width: 450px;
  margin-left: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  color: #0e0c0c;
  font-size: 18px;
  display: block;
  font-weight: 600;
}

.select {
  display: block;
  max-width: 400px;
  margin: 15px 0;
}

.input {
  margin: 7px 0;
  width: 400px;
  display: block;
  padding: 5px;
}

.legend {
  font-size: 24px;
  font-weight: 600;
  color: #0e0c0c;
}

.fieldset {
  margin: 15px 0;
  border: none;
 
}
.content {
  background-color: #fff;
  padding: 2rem;
  width: 750px;
}

.container-name {
  background-color: #c5ede3;
  padding: 1rem;
  width: 42rem;
}

.container-name h1 {
  color: #3db695;
}

.professional {
  padding: 2rem;
}

.professional h2 {
  color: #3db695;
}

.professional> h3 {
  color: rgb(16, 16, 126);
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #343658;
  color: #fff;
  border: none;
  align-self: flex-end;
  box-sizing: 2px 3px 3px #7e7a7a;
  margin: 15px;
  cursor: pointer;
  transition: background-color 3s ease;
}

button:hover {
  background-color: #0e0c0c;
}

a {
  color: #343658;
  font-size: 32px;
  text-decoration: none;
  font-weight: 1000;
}


